.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 1.1rem;
}

.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
}

.nav-item ::deep a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item ::deep a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item ::deep a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}

.search-friend {
  margin-left: 15px; /* Adjust this value as needed */
  margin-right: 15px; /* Adjust this value as needed */
  background-color: #202225;
}

.search-friend input {
  /* existing styles */
  height: 25px;
  font-size: 14px;
  padding: 0 5px;
  background-color: #202225;

  /* new styles */
  border: none;
  outline: none;
}

.search-friend img {
  height: 20px;
  margin-left: 5px;
}

.header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header span {
  margin-left: 10px;
}

.bi {
  color: #b9bbbe;
}
div span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  color: white;
}

.navbar {
  padding-top: 0px;
}

.side-bar {
  background-color: #2f3136;
  width: 250px;
}

.modal {
  z-index: 999999;
}

.modal-content {
  color: #333; /* Change the color value as needed */
}
.modal-body h2 {
  padding: 0.25em 0 0 0;
  text-decoration: underline;
}

.modal-body {
  height: 80vh;
  max-height: 80vh; overflow-y: auto;
}

.chat-field {
  width: 80vw;
  border-radius: 5px;
  border: 1px solid #2F3136;
  overflow: auto;
  height : calc(99vh - 24px);
  position: absolute;
  bottom: 0;
}
.message-text {
  border-radius: 20px;
  background-color: rgb(147, 147, 237);
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  margin: 0.2rem;
}

.username {
  font-family: Montserrat;
  font-size: 0.7rem;
  font-weight: bold;
  color: #474747;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.message-reciever {
  float:right;
}

.chat-field{
  border: none;
}

.messages {
  overflow: auto;
  height: calc(100% - 100px);
}

.joinReq {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: lighter;
}

.tags {
  color: white;
  background-color: #343434;
  border-radius: 30px; 
  display: inline-block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}