@using PlayerLink.Shared.Components.User
@using PlayerLink.Shared.Components.Userprofile
@using PlayerLink.Components.Friendlistbutton
@inject PlayerLink.Services.UserDataService UserDataService
<div class="top-row navbar navbar-dark">
    <div>
        <Userprofile user="UserDataService.Users[0]"/>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable side-bar" @onclick="ToggleNavMenu">
    <div class="d-flex flex-row justify-content-between header">
        <span>Friends</span>
        <Friendlistbutton/> 

    </div>
    <div class="d-flex search-friend">
        <input placeholder="Search friends" type="text" name="lobby-search" id="lobby-search" class="form-control">
        <img src="/img/Path.svg" alt="" class="align-self-center">
    </div>

    <nav class="flex-column">
        @if (UserDataService.Users != null)
        {
            @foreach (var friend in UserDataService.Users)
            {
                <div class="nav-item px-3">
                    <User user="@friend"/>
                </div>
            }
        }
        else
        {
            <div>UserDataService.Users is null</div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
