<div>
    <button type="button" class="btn btn-light d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#filter-modal" id="lobby-button">
        <span><i class="bi bi-funnel"></i>Filter</span>
    </button>
</div>


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="filterModalLabel">Filter Traits</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="desired-traits">Desired Traits</label>
                        <input type="text" class="form-control" id="desired-traits" placeholder="Enter desired traits">
                    </div>
                    <div class="form-group">
                        <label for="undesired-traits">Undesired Traits</label>
                        <input type="text" class="form-control" id="undesired-traits" placeholder="Enter undesired traits">
                    </div>
                    <div class="form-group">
                        <label for="your-traits">Your Traits</label>
                        <input type="text" class="form-control" id="your-traits" placeholder="Enter your traits">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>