@using UserModel = PlayerLink.Models.User;

<div>
    <div class="d-inline-flex flex-row" id="user-profile">
        <div class="user-info user-container">
            <div id="text-info">
                <img src="img/ProfilePicture-1.svg" alt="">
                <div class="username-container">
                    <span id="username-text">@user.Username</span>
                </div>
            </div>
            <div class="accept-reject-buttons">
                @if (!rejectButtonClicked && !acceptButtonClicked) 
                {
                    <button @onclick="HandleAcceptButton" class="btn btn-success btn-sm">Accept</button>
                    <button @onclick="HandleRejectButton" class="btn btn-danger btn-sm" >Reject</button>
                }
                else if (acceptButtonClicked)
                {
                    <button class="btn btn-success btn-sm" >Accepted</button>

                }
                else if (rejectButtonClicked)
                {
                    <button class="btn btn-danger btn-sm" >Rejected</button>

                }
            </div>
            
        </div>
    </div>
</div>

@code {
    @* private bool isRejectButtonClicked = false; *@

    private bool acceptButtonClicked = false;
    private bool rejectButtonClicked = false;
    private bool newButtonClicked = false;


    private void HandleAcceptButton()
    {
        // Logic for handling Button 1 click
        acceptButtonClicked = true;
        newButtonClicked = true;
    }

    private void HandleRejectButton()
    {
        // Logic for handling Button 2 click
        rejectButtonClicked = true;
        newButtonClicked = true;
    }


    [Parameter] public UserModel user { get; set; } = new UserModel();

    @* private void HandleRejectButton() {
        isRejectButtonClicked = true;
    } *@
}


