img {
  float: left;
  padding: 5px;
  size: 0%;
  height: auto;
  max-width: 25%;
}
#username-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  line-height: 30px;
  /* White */
  color: #8e9297;
  width: 150px; /* You can adjust this value or use a percentage */
  display: inline-block; /* Add this line to apply max-width correctly */
}

#text-info {
  float: right;
  margin-left: -10px;
}

#discriminator {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24.8826px;
  line-height: 30px;
  letter-spacing: -0.045em;

  /* Dark Mode/Gray 9 */
  color: #c7c9cb;
}
#user-profile {

  width: 225px; /* width of container*/
}
