@using UserModel = PlayerLink.Models.User;

<div>
    <div class="d-inline-flex flex-row" id="user-profile">
        <div class="container user-info">
            <div id="text-info">
                <img src="img/ProfilePicture-1.svg" alt="">
                <span id="username-text">@user.Username</span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public UserModel user { get; set; } = new UserModel();
}
