html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.Sidebar {
    left: 0;
    top: 0;
    position: absolute;
    justify-content: left;
    width: 250px;
    height: 100vh;
    background-color: #292B2F;
}

.title {
    display: flex;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 2;
    padding: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
}

.divider {
    width: 90%;
    border: 1px solid white;
    margin: auto;
    padding: 0;
}

button {
    background-color: #292B2F;
    border: none !important;
}
.options {
    position: absolute;
    bottom: 0;
    margin: auto;
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.voice {
    display:inline-block;
    padding-left: 7rem;
    padding-bottom: 1rem;
    margin: right;
}