@using PlayerLink.Shared.Components.User
@using PlayerLink.Shared.Components.Userprofile
@inject PlayerLink.Services.UserDataService UserDataService
<div class = "Sidebar">
    <div class = "title">
        <img src="/img/head.svg" style = "justify-content: left; padding-left: 1rem;">
        <p style = "padding-top: 1.5rem; padding-left: 1rem"> Lobby Members</p>
    </div>
    <hr class = "divider">
    <ul style = "padding-top: 1rem; padding-left: 0;">
        @foreach(var name in InPartyList){
        @if (UserDataService.GetUserByUsername(name) != null){
            var user = UserDataService.GetUserByUsername(name);
            <div style="display: flex; align-items: center;">
                <div style="display: inline-block; width: 10rem;">
                    <Userprofile user="@user" />
                </div>
                <div style="display: inline-block;">
                <button style = "width: 50px;" @onclick="ToggleTalk" > 
                @if (muted && string.Equals(name, username)){
                    <img src="/img/Volume-off.svg" /> 
                }
                else if (showImage && string.Equals(name, username))
                    {
                    <img src="/img/talk.svg" />
                }
                </button>
                </div>
            </div>
        }
        }
    </ul>
    <div class = "options">
        <div class = "voice">
            <button @onclick = "ToggleMute"> 
                @if (muted) {
                    <img src="/img/MuteIcon.svg" /> 
                } else {
                    <img src="/img/MicrophoneIcon.svg" /> 
                }
            </button>
            <button @onclick = "ToggleDeafen">
                @if (deafened) {
                    <img src="/img/DeafenIcon.svg" /> 
                } else {
                    <img src="/img/headphoneIcon.svg" /> 
                }
            </button>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#invite" style = "padding-bottom: 1rem;">
            <img src="/img/Invite_Button.svg" /> 
        </button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#confirm">
            <img src="/img/Leave_Button.svg" /> 
        </button>
    </div>
<div class="modal fade" id="invite" tabindex="-1" role = "dialog" aria-labelledby="invite-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding-left: 20%;">
        <h5 class="modal-title mx-auto" id="invite-modalLabel">Invite Friends </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <input type="text" class="form-control" id="text-field" placeholder="Search friends name" @bind-value="@toSearch" @oninput = "SearchFriends"/>
        </div>
        @if (UserDataService.GetUserByUsername(username) != null){
            var c_user = UserDataService.GetUserByUsername(username);
            @foreach (var name in c_user.Friends)
            {
                var friend = UserDataService.GetUserByUsername(name);
                if (friend.Username.Contains(toSearch, StringComparison.OrdinalIgnoreCase)){
                    <div class="friend-item px-3">
                        <button class="btn btn-primary" style = "float: right;" 
                            onclick="this.style.backgroundColor = 'green'; this.innerText = 'Invited';">Invite</button>
                        <User user ="@friend"/>
                    </div>
                }
            }
        }
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm" tabindex="-1"  aria-labelledby="confirm-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"  style="padding-left: 5%;">
        <h5 class="modal-title mx-auto" id="confirm-modalLabel" style = "Montserrat;font-size: 1.2rem;"> ARE YOU SURE YOU WANT TO LEAVE THE LOBBY? </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style = "color: #4c4c4c; font-family: Montserrat;font-size: 1.2rem;">
            Leaving the lobby means you will no longer have access to the voice chat unless you rejoin the lobby </p>
      </div>
       <div class = "mx-auto">
        <button type="button" class="btn btn-secondary" style = "background-color: green; margin-bottom: 2rem;">YES</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style = "background-color: red; margin-left: 4rem; margin-bottom: 2rem;">NO</button>
      </div> 
    </div>
  </div>
</div>
</div>


@code {
    private bool muted = false;
    private bool deafened = false;
    //private bool isHost = false;
    private string username = "Alice";
    string btnClass = "btn btn-success";
    private string toSearch = "";
    private bool showImage = false;
    [Parameter]
    public List<string> InPartyList { get; set; }
    private void SearchFriends(ChangeEventArgs args)
    {
        toSearch = args.Value.ToString();
        StateHasChanged();
    }
    private void ToggleMute()
    {
        muted = !muted;
    }
    private void ToggleTalk()
    {
        showImage = !showImage;
    }
    private void ToggleDeafen()
    {
        deafened = !deafened;
    }
}