@using PlayerLink.Shared.Components.User
@inject PlayerLink.Services.UserDataService UserDataService
<div class="container">
    <div class="row">
        @foreach (var user in UserDataService.Users)
        {
            <div class="col-md-6" id="friend-request">
                <span class="user-container">
                    <Usercheck user="user"/>

                </span>
            </div>
        }
    </div>
</div>

@code {
}
