.chat-field {
    width: 70vw;
    border-radius: 5px;
    border: 1px solid #2F3136;
}
.message-text {
    border-radius: 20px;
    background-color: rgb(147, 147, 237);
    color: #fff;
    font-family: Montserrat;
    font-size: 1rem;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin: 0.2rem;
}

.username {
    font-family: Montserrat;
    font-size: 0.7rem;
    font-weight: bold;
    color: #474747;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.message-reciever {
    float:right;
}

.chat-field{
    border: none;
}

.messages {
    overflow: auto;
}