img[b-7dl1p34hli] {
  float: left;
  padding: 5px;
  size: 0%;
  height: auto;
  max-width: 25%;
}
#username-text[b-7dl1p34hli] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24.8628px;
  line-height: 30px;
  margin-left: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* White */
  color: #8e9297;
}

#text-info[b-7dl1p34hli] {
  float: right;
}

#discriminator[b-7dl1p34hli] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24.8826px;
  line-height: 30px;
  letter-spacing: -0.045em;

  /* Dark Mode/Gray 9 */
  color: #c7c9cb;
}
#user-profile[b-7dl1p34hli] {
  background-color: #292b2f;
}
