@page "/"
@using PlayerLink.Shared.Components.User
@using PlayerLink.Shared.Components.Userprofile
@using PlayerLink.Components.Lobby
@using PlayerLink.Components.Lobbybutton
@using PlayerLink.Components.Lobbyfilter
@using PlayerLink.Components.Lobbysearch
@using PlayerLink.Components.Tag
@inject PlayerLink.Services.UserDataService UserDataService
@inject PlayerLink.Services.LobbyDataService LobbyDataService

<PageTitle>Index</PageTitle>

<div class="main">
    <div class="d-flex justify-content-between" id="search-header">
        <div class="d-flex" id="search">
            <Lobbysearch />
            <Lobbyfilter />
        </div>
        <div id="create-lobby-button">
            <Lobbybutton />
        </div>
    </div>

    <div>
        @foreach (var gameGroup in LobbyDataService.Lobbies.GroupBy(l => l.Game))
        {
            <div>
                <h3>@gameGroup.Key</h3>
                <div class="lobbies">
                    @foreach (var lobby in gameGroup)
                    {
                        <LobbyComponent LobbyData="lobby" />
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        LobbyDataService.OnLobbyAdded += UpdateLobbies;
    }

    private void UpdateLobbies()
    {
        InvokeAsync(() => StateHasChanged());
    }


    public void Dispose()
    {
        LobbyDataService.OnLobbyAdded -= UpdateLobbies;
    }
}

