@page "/"
@using PlayerLink.Shared.Components.User
@using PlayerLink.Shared.Components.Userprofile
@using PlayerLink.Components.Lobby
@using PlayerLink.Components.Lobbybutton
@using PlayerLink.Components.Lobbyfilter
@using PlayerLink.Components.Lobbysearch
@inject PlayerLink.Services.UserDataService UserDataService
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<div class="d-flex justify-content-between">
    <div class="d-flex">
        <Lobbysearch />
        <Lobbyfilter />
    </div>
    <div class="">
        <Lobbybutton />
    </div>
</div>

<button @onclick="NavigateToAnotherPage">Setup Account</button>

@code {
    private void NavigateToAnotherPage()
    {
        NavigationManager.NavigateTo("/setup");
    }
}
