@page "/"
@using PlayerLink.Shared.Components.User
@using PlayerLink.Shared.Components.Userprofile
@using PlayerLink.Components.Lobby
@using PlayerLink.Components.Lobbybutton
@using PlayerLink.Components.Lobbyfilter
@using PlayerLink.Components.Lobbysearch
@inject PlayerLink.Services.UserDataService UserDataService

<PageTitle>Index</PageTitle>

<div class="main">
    <div class="d-flex justify-content-between" id="search-header">
        <div class="d-flex" id ="search">
            <Lobbysearch />
            <Lobbyfilter />
        </div>
        <div id="create-lobby-button">
            <Lobbybutton />
        </div>
    </div>

    <div>
        <div>
            <h3>Overwatch</h3>
            <div class="lobbies">
                <Lobby NumPlayers="3" MissingPlayers="2"/>
                <Lobby NumPlayers="2" MissingPlayers="2"/>  
            </div>

        </div>


    </div>
</div>


@code {

}


