#search {
  column-gap: 1.5em;
}
#create-lobby-button {
  margin-right: 4vw;
}
#search-header {
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.main {
  margin-left: 7vw;
}
.lobbies {
  margin-right: 10vw;
}
.lobbies > div {
  margin-top: 100px; /* Adjust the padding value according to your needs */
}
