@page "/LobbyChat"
@layout BlankLayout
@using PlayerLink.Components.SideBar
@using PlayerLink.Components.Chatbox
<div>
    <div class = "nav">
        <Sidebar />
    </div>
    <div class = "chat-box">
        <Chatbox />
    </div>

</div>