@layout BlankLayout
@page "/LobbyPreference1"

<!-- MyImagesComponent.razor -->

<style>
    h1 {
        text-align: center;
    }

    img {
        cursor: pointer;
        border: 2px solid #ccc;
    }

    img:hover {
        border-color: orange;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    .image-container img {
        margin: 10px;
        margin-top: 0px;
        cursor: pointer;
        width: 20vw;
        height: 60vh;
        object-fit: cover;
    }

    .border-orange {
        border: 5px solid orange;
    }
</style>



<h1>Which Game Lobby Do You Want to Join?</h1>
<hr />
<div class="image-container">
    <img class="@borderColor1" @onclick="() => ToggleBorderColor(0)" src="/img/valorant.bmp" />
    <img class="@borderColor2" @onclick="() => ToggleBorderColor(1)" src="/img/tomb.bmp" />
    <img class="@borderColor3" @onclick="() => ToggleBorderColor(2)" src="/img/cyberpunk.bmp" />
</div>

@code {
    private int selectedImage = -1; // Initially no image is selected

    private string borderColor1 => selectedImage == 0 ? "border-orange" : "";
    private string borderColor2 => selectedImage == 1 ? "border-orange" : "";
    private string borderColor3 => selectedImage == 2 ? "border-orange" : "";

    private void ToggleBorderColor(int imageIndex)
    {
        if (selectedImage == imageIndex)
        {
            selectedImage = 0; // If the current image is already selected, deselect it
        }
        else
        {
            selectedImage = imageIndex; // If a different image is selected, update the selected image index
        }
    }
}
