.title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
}

.form-group {
  margin: 1em 0 0.5em 0;
}

.submit-button {
  margin: 2em 0 2em 0;
}

#forgot {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

#setup {
  font-family: Tienne;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
