@page "/setup3"
@layout BlankLayout

@using Microsoft.AspNetCore.Components.Web

<PageTitle>Setup Account</PageTitle>

<!-- Add PLAYER LINK in top left -->
<div style="position: absolute; top: 10px; left: 10px; font-size: 50px; font-family: 'Montserrat', sans-serif;">
    PLAYER LINK
</div>

<!-- Vertically lower "Account Setup" -->
<div style="text-align: center; padding-top: 80px;">
    <h1>Account Setup</h1>
</div>

<!-- Place "Step 3 of 3" below "Account Setup" -->
<div style="position: absolute; top: 130px; left: 50px;">
    <h4 class="tab">Step 3 of 3</h4>
</div>

<!-- Instruction Text-->
<div style="position: absolute; top: 180px; left: 100px;">
    <h5 class="tab">Please select your top 3 favorite games</h5>
</div>

<!-- Add back button at the bottom left -->
<div style="position: absolute; bottom: 60px; left: 25px;">
    <button class="back-button" @onclick="NavigateToSetup">Back</button>
</div>

<style>
    .searchbar-wrapper input {
        background-color: black;
        color: white;
        border-radius: 100px;
        border: none;
        padding: 8px 12px;
    }

        .searchbar-wrapper input::placeholder {
            color: white;
            opacity: 0.5;
        }

        .searchbar-wrapper input:focus {
            outline: none;
        }
</style>

<div class="searchbar-wrapper">
    <input @bind="searchText" @oninput="SearchTextChanged" placeholder="Search..." />
</div>

<div class="image-container">
    @if (showImage1)
    {
        <img src="/img/cyberpunk.bmp" alt="Cyberpunk" class="display-image" />
    }
    @if (showImage2)
    {
        <img src="/img/tomb.bmp" alt="Image 2" class="display-image" />
    }
    @if (showImage3)
    {
        <img src="/img/valorant.bmp" alt="Image 3" class="display-image" />
    }
</div>

@if (showContinueButton)
{
    <div class="continue-button-wrapper2" style="text-align: center;">
        <!-- Add navigation to index page on button click -->
        <button class="continue-button" @onclick="NavigateToIndex">Continue</button>
    </div>
}

@code {
    private string searchText = "";
    private bool showImage1 = false;
    private bool showImage2 = false;
    private bool showImage3 = false;
    private bool showContinueButton = false;

    [Inject] NavigationManager NavigationManager { get; set; }

    private void SearchTextChanged(ChangeEventArgs e)
    {
        searchText = e.Value.ToString();

        if (searchText.Contains("cyberpunk"))
        {
            showImage1 = true;
        }
        if (searchText.Contains("tomb"))
        {
            showImage2 = true;
        }
        if (searchText.Contains("valorant"))
        {
            showImage3 = true;
        }

        showContinueButton = showImage1 && showImage2 && showImage3;
    }

    private void NavigateToIndex()
    {
        NavigationManager.NavigateTo("/LobbyPreference1");
    }

    private void NavigateToSetup()
    {
        NavigationManager.NavigateTo("/setup2");
    }
}
