@page "/setup1"
@layout BlankLayout

@using Microsoft.AspNetCore.Components.Web

<PageTitle>Setup Account</PageTitle>

<!-- Add PLAYER LINK in top left -->
<div style="position: absolute; top: 10px; left: 10px; font-size: 50px; font-family: 'Montserrat', sans-serif;">
    PLAYER LINK
</div>

<!-- Vertically lower "Account Setup" -->
<div style="text-align: center; padding-top: 80px;">
    <h1>Account Setup</h1>
</div>

<!-- Place "Step 3 of 3" below "Account Setup" -->
<div style="position: absolute; top: 130px; left: 50px;">
    <h4 class="tab">Step 1 of 3</h4>
</div>

<!-- Instruction Text-->
<div style="position: absolute; top: 180px; left: 100px;">
    <h5 class="tab">Please select a profile picture</h5>
</div>


<div class="content-wrapper">
    <div class="square-container">
        <button class="@squareClass" @onclick="ToggleSquareContent"></button>
    </div>
</div>

@if (showContinueButton)
{
    <div class="continue-button-wrapper2">
        <button class="continue-button" @onclick="NavigateToSetup2">Continue</button>
    </div>
}

@code {
    private string squareClass = "white-square";
    private bool showContinueButton = false;

    [Inject] NavigationManager NavigationManager { get; set; }
    private void ToggleSquareContent()
    {
        if (squareClass == "white-square")
        {
            squareClass = "image-square";
            showContinueButton = true;
        }
        else
        {
            squareClass = "white-square";
            showContinueButton = false;
        }
    }

    private void NavigateToSetup2()
    {
        NavigationManager.NavigateTo("/setup2");
    }
}
