div {
  height: auto;
  width: 5vw;
  border-radius: 999px;
  padding: 4px 8px 4px 8px;
  background-color: #343434;
  white-space: nowrap; /* Don't allow line breaks */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Add '...' when content overflows */
  color: #d0cfcf;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
/* Ask chatgpt how to make font smaller when text is too long */
