button[b-vdkrg40bt8] {
  border-radius: 12px;
}
i[b-vdkrg40bt8] {
  color: black;
  margin-right: 0.5em;
}
#lobby-button[b-vdkrg40bt8] {
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
}
