<div class="btn btn-light shrink-input">
    <input placeholder="Search Game" type="text" name="lobby-search" id="lobby-search" class="btn btn-light shrink-input">
    <img src="/img/Path.svg" alt="">
</div>
