@using MudBlazor
@using PlayerLink.Services
@using System.Linq
@inject FilterService FilterService
@inject GameDataService GameDataService

<div class="shrink-input">
    <MudAutocomplete T="string" Label="Search Game" @bind-Value="searchValue" SearchFunc="@SearchGames"
                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
</div>

@code {
    private string searchValue;

    private async Task<IEnumerable<string>> SearchGames(string value)
    {
        await Task.Delay(5); // Simulating an async call, remove this line if using actual async data fetching

        if (string.IsNullOrEmpty(value))
            return GameDataService.Games;
        return GameDataService.Games.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}
