input {
  text-align: left;
}

img {
  margin-left: 0.5em;
}
.shrink-input {
  padding: 5px 10px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

.shrink-input input {
  height: 25px;
  font-size: 14px; /* Adjust the font size as needed */
  padding: 0 5px; /* Adjust the padding as needed */
}
