@using MudBlazor
@using PlayerLink.Services
@using System.Linq
@inject FilterService FilterService

<div class="shrink-input">
    <MudAutocomplete T="string" Label="Search Game" @bind-Value="searchValue" SearchFunc="@SearchTraits"
                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
</div>

@code {
    private string searchValue;

    private async Task<IEnumerable<string>> SearchTraits(string value)
    {
        var traits = new[] { FilterService.DesiredTraits, FilterService.UndesiredTraits, FilterService.YourTraits };

        await Task.Delay(5); // Simulating an async call, remove this line if using actual async data fetching

        if (string.IsNullOrEmpty(value))
            return traits;
        return traits.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}
