@using PlayerLink.Components.Usergrid
<button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#friendsModal" style="color: #B9BBBE;">
    <i class="bi bi-plus"></i>
</button>

<div class="modal fade" data-bs-backdrop="false" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="friendsModalLabel">Friends</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="friend" placeholder="Search Friends">
          </div>
        </form>
        <h2>Request</h2>
        <Usergrid/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
