/* _content/PlayerLink/Components/Lobby/Lobby.razor.rz.scp.css */
#lobby-container[b-rgmdzi42qm] {
  box-sizing: border-box;
  border-radius: 16.2449px;
  border: 4.06122px solid #000000;
  padding: 1em;
}
/* _content/PlayerLink/Components/Lobbybutton/Lobbybutton.razor.rz.scp.css */
button[b-ojejqrf09c] {
  border-radius: 12px;
}
i[b-ojejqrf09c] {
  color: black;
  margin-right: 0.25em;
}
/* _content/PlayerLink/Components/Lobbyfilter/Lobbyfilter.razor.rz.scp.css */
button[b-vdkrg40bt8] {
  border-radius: 12px;
}
i[b-vdkrg40bt8] {
  color: black;
  margin-right: 0.5em;
}
/* _content/PlayerLink/Components/Lobbysearch/Lobbysearch.razor.rz.scp.css */
input[b-g2ge94nwtm] {
  text-align: left;
}

img[b-g2ge94nwtm] {
  margin-left: 0.5em;
}
.shrink-input[b-g2ge94nwtm] {
  padding: 5px 10px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

.shrink-input input[b-g2ge94nwtm] {
  height: 25px;
  font-size: 14px; /* Adjust the font size as needed */
  padding: 0 5px; /* Adjust the padding as needed */
}
/* _content/PlayerLink/Components/Login/Loginbutton/Loginbutton.razor.rz.scp.css */
.btn-login[b-suhmc5bosg] {
  background-color: #030000;
  color: #fa9600;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
/* _content/PlayerLink/Components/Login/Passwordfield/Passwordfield.razor.rz.scp.css */
.main[b-gvlt8b9rfh] {
  border: 1px solid #000;
}
/* _content/PlayerLink/Components/Login/Usernamefield/Usernamefield.razor.rz.scp.css */
.main[b-659i8rc6wh] {
  border: 1px solid #000;
}
/* _content/PlayerLink/Pages/Login.razor.rz.scp.css */
.title[b-pu3ztdpf8g] {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
}

.form-group[b-pu3ztdpf8g] {
  margin: 1em 0 0.5em 0;
}

.submit-button[b-pu3ztdpf8g] {
  margin: 2em 0 2em 0;
}
/* _content/PlayerLink/Shared/Components/User/User.razor.rz.scp.css */
img[b-7dl1p34hli] {
  float: left;
  padding: 5px;
  size: 0%;
  height: auto;
  max-width: 25%;
}
#username-text[b-7dl1p34hli] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  line-height: 30px;
  /* White */
  color: #8e9297;
  width: 150px; /* You can adjust this value or use a percentage */
  display: inline-block; /* Add this line to apply max-width correctly */
}

#text-info[b-7dl1p34hli] {
  float: right;
  margin-left: -10px;
}

#discriminator[b-7dl1p34hli] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24.8826px;
  line-height: 30px;
  letter-spacing: -0.045em;

  /* Dark Mode/Gray 9 */
  color: #c7c9cb;
}
#user-profile[b-7dl1p34hli] {

  width: 225px; /* width of container*/
}
/* _content/PlayerLink/Shared/Components/Userprofile/Userprofile.razor.rz.scp.css */
img[b-kbd1kndd2m] {
  float: left;
  padding: 5px;
  size: 0%;
  height: auto;
  max-width: 25%;
}
#username-text[b-kbd1kndd2m] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  line-height: 30px;
  /* White */
  color: #8e9297;
  width: 150px; /* You can adjust this value or use a percentage */
  display: block; /* Changed from inline-block */
}

#text-info[b-kbd1kndd2m] {
  margin-left: -10px;
}

#discriminator[b-kbd1kndd2m] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 10px;
  letter-spacing: -0.045em;

  /* Dark Mode/Gray 9 */
  color: #c7c9cb;
  display: block; /* Add this line */
}
#user-profile[b-kbd1kndd2m] {
  background-color: #292B2F;

  width: 250px;
}
/* _content/PlayerLink/Shared/MainLayout.razor.rz.scp.css */
.page[b-l3481v9u0q] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-l3481v9u0q] {
  flex: 1;
}

.sidebar[b-l3481v9u0q] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-l3481v9u0q] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 1.5rem;
  display: flex;
  align-items: center;
  background-color: #2f3136;
}

.top-row[b-l3481v9u0q]  a,
.top-row .btn-link[b-l3481v9u0q] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-l3481v9u0q] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-l3481v9u0q] {
    display: none;
  }

  .top-row.auth[b-l3481v9u0q] {
    justify-content: space-between;
  }

  .top-row a[b-l3481v9u0q],
  .top-row .btn-link[b-l3481v9u0q] {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-l3481v9u0q] {
    flex-direction: row;
  }

  .sidebar[b-l3481v9u0q] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-l3481v9u0q] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-l3481v9u0q],
  article[b-l3481v9u0q] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* _content/PlayerLink/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dkf0drnwoc] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dkf0drnwoc] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-dkf0drnwoc] {
  font-size: 1.1rem;
}

.oi[b-dkf0drnwoc] {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item[b-dkf0drnwoc] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-dkf0drnwoc] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-dkf0drnwoc] {
  padding-bottom: 1rem;
}

.nav-item[b-dkf0drnwoc]  a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item[b-dkf0drnwoc]  a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item[b-dkf0drnwoc]  a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler[b-dkf0drnwoc] {
    display: none;
  }

  .collapse[b-dkf0drnwoc] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable[b-dkf0drnwoc] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}

.search-friend[b-dkf0drnwoc] {
  margin-left: 15px; /* Adjust this value as needed */
  margin-right: 15px; /* Adjust this value as needed */
  background-color: #202225;
}

.search-friend input[b-dkf0drnwoc] {
  /* existing styles */
  height: 25px;
  font-size: 14px;
  padding: 0 5px;
  background-color: #202225;

  /* new styles */
  border: none;
  outline: none;
}

.search-friend img[b-dkf0drnwoc] {
  height: 20px;
  margin-left: 5px;
}

.header[b-dkf0drnwoc] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header span[b-dkf0drnwoc] {
  margin-left: 10px;
}

.bi[b-dkf0drnwoc] {
  color: #b9bbbe;
}
div span[b-dkf0drnwoc] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  color: white;
}

.navbar[b-dkf0drnwoc] {
  padding-top: 0px;
}

.side-bar[b-dkf0drnwoc] {
  background-color: #2f3136;
  width: 250px;
}
