img[b-kbd1kndd2m] {
  float: left;
}
#username-text[b-kbd1kndd2m] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24.8628px;
  line-height: 30px;
  margin-left: 1em;

  /* White */
  color: #8e9297;
}

#text-info[b-kbd1kndd2m] {
  float: right;
}

#discriminator[b-kbd1kndd2m] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24.8826px;
  line-height: 30px;
  letter-spacing: -0.045em;

  /* Dark Mode/Gray 9 */
  color: #c7c9cb;
}
#user-profile[b-kbd1kndd2m] {
  background-color: #292b2f;
}
