#lobby-container {
  box-sizing: border-box;
  border-radius: 16.2449px;
  border: 4.06122px solid #000000;
  padding: 1em;
  margin: 1em;
}
#lobby-container:hover {
  /* give hyperlink border */
  border: 4.06122px solid #0000ff;
}
