#lobby-container {
  box-sizing: border-box;
  border-radius: 16.2449px;
  border: 4.06122px solid #000000;
  padding: 1em 1em 1em 1em;
  margin: 1em;
  min-height: 18vh;
  transition: transform 0.25s;
}
#lobby-container:hover {
  /* give hyperlink border */
  transform: translateY(-0.25em);
  cursor: pointer;
}
#img img {
  width: 6vw;
  height: 6wh;
}

.user-item {
  margin-bottom: 10px;
  font-size: 1.1em;
}
#tag {
  margin-left: 0.5em;
}
.custom-modal-footer {
  display: block !important;
}

.button-space {
  padding: 1em 0 0 0;
}
