#search[b-4p99nw6x63] {
  column-gap: 1.5em;
}
#create-lobby-button[b-4p99nw6x63] {
  margin-right: 4vw;
}
#search-header[b-4p99nw6x63] {
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.main[b-4p99nw6x63] {
  margin-left: 7vw;
}
.lobbies[b-4p99nw6x63] {
  margin-right: 10vw;
}
